.contact-container{
    height: 70%;
    padding : 5vh 10vw;
    text-align: center;
    background-color: #FBFBFB;
}

.contact-container>h1{
    font-family: 'gmarketMid' !important;
    color : #4B382A;
    font-size: 3rem;
    font-weight: bold;
}

.contact-container>p{
    font-family: 'IBM Plex Sans' !important;
    color: #222222;
    font-size: 1rem;
    margin-top: 1.5rem;
}

.contact-form{
    margin-top: 3vh;
}

.form-container{
    overflow: hidden;
    padding : 0 19vw;
}

.form-container>div>input{
    outline: none;
    background-color: #E6E6E6;
    width :27vw;
    height : 5vh;
    margin : 0.7vh 0 ;
    border-radius: 12px;
    border: none;
    padding : 0 20px;
}

.contact-content{
    outline: none;
    background-color: #E6E6E6;
    clear: both;
    resize: none;
    margin-top: 0.7vh;
    border-radius: 12px;
    border: none;
    padding : 20px 20px;
    width: 27vw;
}

input::placeholder{
    color : #7E7E7E;
    font-weight: 700;
}

textarea::placeholder{
    color : #7E7E7E;
    font-weight: 700;
}

.submit-btn{
    margin-top: 3.5vh;
    border: none;
    width:  6.5rem;
    height: 3.5vh;
    font-size: 1em;
    border-radius: 150px;
    font-family: 'IBM Plex Sans' !important;
    color: #ffffff;
    background-color: #FA941E;
}

@media screen and (max-width: 1024px){
    .contact-container{
        font-family: "notosans" !important;
        height: 70%;
        padding : 8vh 10vw;
        text-align: center;
        background-color: #FBFBFB;
    }
    
    .contact-container>h1{
        color : #4B382A;
        font-size: 3rem;
        font-weight: bold;
    }
    
    .contact-container>p{
        color: #222222;
        font-size: 1rem;
        margin-top: 2rem;
    }
    
    .contact-form{
        margin-top: 5vh;
    }
    
    .form-container{
        overflow: hidden;
        padding : 0 1vw;
    }
    
    .form-container>div>input{
        outline: none;
        background-color: #E6E6E6;
        width :70vw;
        height : 5vh;
        margin : 0.7vh 0 ;
        border-radius: 12px;
        border: none;
        padding : 0 20px;
    }
    
    .contact-content{
        outline: none;
        background-color: #E6E6E6;
        clear: both;
        resize: none;
        margin-top: 0.7vh;
        border-radius: 12px;
        border: none;
        padding : 20px 20px;
        width: 70vw;
    }
    
    input::placeholder{
        color : #7E7E7E;
        font-weight: 700;
    }
    
    textarea::placeholder{
        color : #7E7E7E;
        font-weight: 700;
    }
    
    .submit-btn{
        margin-top: 2vh;
        border: none;
        width:  6.5rem;
        height: 3.5vh;
        font-size: 1em;
        border-radius: 150px;
        font-family: "notosans" !important;
        color: #7E7E7E;
        background-color: #E6E6E6;
    }
    
}