.footer-container{
    font-family: "notosans" !important;
    padding : 10vh 10vw;
    height: 30vh;
    background-color: #0F1925;
}

.footer-container > p{
    color : white;
}

.footer-address{
    font-size: 0.75rem;
}

.footer-tell{
    font-size: 0.75rem;
}

.footer-copyright{
    font-size: 0.75rem;
}

.footerlogo{
    float:right;
    margin-top: 1.7rem;
    width: 16rem;
    height: 7.313rem;
}