.footer-container{
    font-family: "notosans" !important;
    height: 20vh !important;
    background-color: #0F1925;
    padding : 5vh 5vw;
}

.footer-container > p{
    color : white;
}

.footer-address{
    font-size: 0.75rem;
}

.footer-tell{
    font-size: 0.75rem;
}

.footer-copyright{
    font-size: 0.75rem;
}

.footerlogo{
    float:right;
    margin-top: 1.7rem;
    width: 10   rem;
    height: auto;
}