.description{
    margin-top: 1rem;
    line-height: 2.3rem;
    font-size: 1.25rem;
    color: white;
    font-weight: 100 !important;
  }
  
.header-subtitle{
    font-size: 3rem;
    color: white;
}

.header-title{
    margin-top: 3vh;
    margin-bottom: 6vh;
    font-size: 4rem;
    color: white;
} 
.orange{
  color: #FA941E;
}