.introduce-container{
    font-family: 'IBM Plex Sans'  , sans-serif !important;
    height: 50vh;
    padding : 10vh 7vw;
    background-image: linear-gradient( rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) ),url("../image/bgimg.png");
    background-size: cover;
}

.introduce-title{
    font-family: 'gmarketBold'  , sans-serif !important;
    color: #ECD4BC;
    font-size: 2.5rem;
    text-align: left;
    width: 40%;
    float: left;
}

.introduce-description{
    font-family: 'IBM Plex Sans' , sans-serif ;
    float : left;
    margin-top: 3vh;
    color: white;
    font-size:  1.2rem;
    line-height: 2.5rem;
    text-align: left;
}

@media screen and (max-width: 768px){
    .introduce-container{
        font-family: 'IBM Plex Sans' , sans-serif  !important;
        height: 100vh;
        padding : 10vh 10vw;
        background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("../image/bgimg.png");
        background-size: cover;
    }
    
    .introduce-title{
        color: white;
        font-size: 1.6rem;
    }
    
    .introduce-description{
        margin-top: 3rem;
        color: white;
        font-size: 0.9rem;
        line-height: 2rem;
        letter-spacing: -1px;
    }
    .vertical-line{
        margin-top: 3rem;
        height: 10rem;
    }
}