.recommend-container{
    font-family: "notosans" !important;
    height: 130vh;
    padding : 5vh 13vw 0 13vw;
    background-color: #FBFBFB;
  }

.recommend{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 5vh;
    line-height: 5rem;
}

.recommend-box1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom:4vh;
}

.recommend-box2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.box{
    text-align: center;
}

.box>img{
    width: 180px;
}

.box>p{
    color: #7E7E7E;
    font-size: 1rem;
    margin-top: 3vh;
}

@media screen and (max-width: 1024px){
    .recommend-container{
        font-family: "notosans" !important;
        padding : 5vh 10vw 0 10vw;
        background-color: #FBFBFB;
      }
    
    .recommend{
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 2vh;
        line-height: 5rem;
    }
    
    .recommend-box1{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom:0;
       
    }
    
    .recommend-box2{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    .box{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        width: 80%;
    }
    
    .box>img{
        width: 12vh;
        height: auto;
    }
    
    .box>p{
        display: inline-block;
        color: #7E7E7E;
        font-size: 0.8rem;
        margin-top: 4vh;
        margin-left: 1rem;
        text-align: center;
    }
}