.usage-container{
    font-family: 'IBM Plex Sans' !important;
    height: 200vh;
    padding : 11vh 7vw;
    background-image: url("../image/usagebg.png");
    background-size: cover;
}

.usage-title{
    font-family: 'gmarketMid' !important;
    color: #ECD4BC;
    font-size: 2.3rem;
    margin-bottom: 10vh;
    text-align: left;
}

.usage-description{
    font-family: 'IBM Plex Sans' !important;
    margin-top: 30vh;
    color : #FFFFFF;
    line-height: 1.8rem;
}

.usage-box-container{
    font-family: 'IBM Plex Sans' !important;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.effect-box-container{
    font-family: 'IBM Plex Sans' !important;
    margin-top: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media screen and (max-width: 1200px){
  
}

@media screen and (max-width: 768px){
    .usage-container{
        font-family: 'IBM Plex Sans' !important;
        height: 550vh;
        padding : 11vh 7vw;
        background-image: url("../image/usagebg.png");
        background-size: cover;
    }
    
    .usage-title{
        font-family: 'gmarketMid' !important;
        color: #ECD4BC;
        font-size: 1.8rem;
        margin-bottom: 10vh;
        text-align: left;
    }
    
    .usage-description{
        font-family: 'IBM Plex Sans' !important;
        margin-top: 13vh;
        font-size: 1.1rem;
        color : #FFFFFF;
        line-height: 1.7rem;
    }
    
    .usage-box-container{
        font-family: 'IBM Plex Sans' !important;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .effect-box-container{
        font-family: 'IBM Plex Sans' !important;
        margin-top: 15vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}