.usage-container{
    font-family: "notosans" !important;
    height: 100vh;
    padding : 15vh 10vw;
    background-color: #FBFBFB;
}

.usage-description1{
    color: #1F1F1F;
    font-size: 1.4rem;
    line-height: 2.7rem;
    font-weight: 200;
}
.usage-description2{
    color: #1F1F1F;
    font-size: 1.4rem;
    line-height: 2.7rem;
    font-weight: 200;
}

.usage-title{
    color: #FA941E;
    padding-top: 2.5rem;
    font-size: 3rem;
    margin-bottom: 10vh;
}

strong{
    font-weight: 530;
}

@media screen and (max-width: 1024px){
    .usage-container{
        font-family: "notosans" !important;
        height: 100vh;
        padding : 15vh 10vw;
        background-color: #FBFBFB;
    }
    
    .usage-description1{
        color: #1F1F1F;
        font-size: 1rem;
        line-height: 2rem;
        font-weight: 200;
    }
    .usage-description2{
        color: #1F1F1F;
        font-size: 1rem;
        line-height: 2rem;
        font-weight: 200;
    }
    
    .usage-title{
        color: #FA941E;
        padding-top: 2.5rem;
        font-size: 1.6rem;
        margin-bottom: 10vh;
    }
    
    strong{
        font-weight: 530;
    }
}