.main-request-container{
    font-family: "notosans" !important;
    height: 100vh;
    padding : 4vh 6vw;
    background-color: #FBFBFB;
    text-align: center;
}

.request-title{
    color: #483527;
    font-size: 3rem;
}


.request-description{
    color: #2E2E2E;
    font-size: 1.2rem;
    line-height: 2.5rem;
    margin-top: 5vh;
}

.request-box-container{
    margin-top: 2vh;
    overflow: hidden;
    padding: 0 18vw;
}

.request-container-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    padding : 5vh 0;
    width: 24vw;
    height:70vh;
}

.request-container-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    float: right;
    padding : 5vh 0;
    width: 24vw;
    height:70vh;
}

.request-box-title{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #A4734B;
    border-radius: 64px;
    width: 15vh;
    padding: 0.5vh;
    height: 3rem;
    border: 0;
    outline: 0;
}

.howtoimg{
    width: 8vw;
    margin-top: 2vh;
}

.request-box-description{
    color: #2E2E2E;
    font-size: 1.1rem;
    line-height: 1.5rem;
    margin-top: 3vh;
}

@media screen and (max-width: 768px){
    .main-request-container{
        font-family: "notosans" !important;
        height: 100vh;
        padding : 4.5vh 6vw;
        background-color: #FBFBFB;
        text-align: center;
    }
    
    .request-title{
        color: #483527;
        font-size: 2rem;
    }
    
    
    .request-description{
        color: #2E2E2E;
        font-size: 1rem;
        line-height: 1.8rem;
        margin-top: 3vh;
    }
    
    .request-box-container{
        margin-top: 1vh;
        overflow: hidden;
        padding: 0 4vw;
    }
    
    .request-container-left{
        display: flex;
        flex-direction: column;
        align-items: center;
        float: left;
        padding : 2vh 0;
        width: 35vw;
        height:70vh;
    }
    
    .request-container-right{
        display: flex;
        flex-direction: column;
        align-items: center;
        float: right;
        padding : 2vh 0;
        width: 35vw;
        height:70vh;
    }
    
    .request-box-title{
        color: white;
        font-size: 1.5rem;
        font-weight: bold;
        background-color: #A4734B;
        border-radius: 64px;
        width: 15vh;
        padding: 0.5vh;
        height: 3rem;
        border: 0;
        outline: 0;
    }
    
    .howtoimg{
        width: 24vw;
        margin-top: 2vh;
    }
    
    .request-box-description{
        color: #2E2E2E;
        font-size: 0.8rem;
        letter-spacing: -0.45px;
        line-height: 1.4rem;
        margin-top: 4vh;
    }
    
}