.main-request-container{
    font-family: "notosans" !important;
    height: 100vh;
    padding : 8vh 10vw;
    background-color: #FBFBFB;
    text-align: center;
}

.request-title{
    color: #483527;
    font-size: 3rem;
}


.request-description{
    color: #2E2E2E;
    font-size: 1.2rem;
    line-height: 2.5rem;
    margin-top: 5vh;
}

.request-box-container{
    margin-top: 7vh;
    overflow: hidden;
    padding: 0 19vw;
}

.request-container-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    background-image: url(../image/howtobg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding : 5.7vh 0;
    width: 20vw;
    height:60vh;
}

.request-container-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    float: right;
    background-image: url(../image/howtobg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding : 5.7vh 0;
    width: 20vw;
    height:60vh;
}

.request-box-title{
    color: #FFFFFF;
    font-size: 1.5rem;
}

.howtoimg{
    width: 7vw;
    margin-top: 6vh;
}

.request-box-description{
    color: #2E2E2E;
    font-size: 1.1rem;
    line-height: 1.8rem;
    margin-top: 4vh;
}

@media screen and (max-width: 1024px){
    .main-request-container{
        font-family: "notosans" !important;
        height: 100vh;
        padding : 8vh 5vw;
        background-color: #FBFBFB;
        text-align: center;
    }
    
    .request-title{
        color: #343434;
        font-size: 2rem;
    }
    
    hr{
        width: 4rem;
        margin-top: 2rem;
    }
    
    .request-description{
        color: #2E2E2E;
        font-size: 1.1rem;
        line-height: 1.7rem;
        margin-top: 3rem;
    }
    
    .request-box-container{
        overflow: hidden;
        padding: 0;
    }
    
    .request-container-left{
        display: flex;
        flex-direction: column;
        align-items: center;
        float: left;
        background-image: url(../image/howtobg.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding : 4.5vh 0;
        width: 43vw;
        height:49vh;
    }
    
    .request-container-right{
        display: flex;
        flex-direction: column;
        align-items: center;
        float: right;
        background-image: url(../image/howtobg.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding : 4.5vh 0;
        width: 43vw;
        height:49vh;
    }
    
    .request-box-title{
        color: #FFFFFF;
        font-size: 1.3rem;
    }
    
    .howtoimg{
        width: 20vw;
        margin-top: 3vh;
    }
    
    .request-box-description{
        color: #2E2E2E;
        font-size: 0.7rem;
        line-height: 1.2rem;
        margin-top: 3vh;
    }
    
}