.review-container{
    font-family: "notosans" !important;
    height: 100vh;
    padding : 5vh 10vw 0 10vw;
    background-color: #FBFBFB;
}

.reviewbox-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1vw;
}

.reviewbox-slider{
    height: 40vh !important;
}

.slider-container{
    height: 55vh ;
}

.review-title{
    font-size: 3rem;
    color: #343434;
    margin-left: 3vw;
    margin-bottom: 8vh;
}

.review-description{
    margin-top: 6vh;
    text-align: center;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #696969;
    font-weight: 500;
}

.reviewbox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    height: 50vh;
    padding : 5vh 2.5vw; 
    margin-left: 20%;
}

.reviewbox-title{
    font-size: 2.4rem;
    padding-top: 14vh;
    color: #483527;
    margin-bottom: 4rem;
}
.reviewbox-name{
    font-size: 1.4rem;
    margin-bottom: 2rem;
}
.reviewbox-description{
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: -0.3px;
    color: #5C5C5C;
}

@media screen and (max-width : 1200px){

}

@media screen and (max-width: 768px){
    .review-container{
        font-family: "notosans" !important;
        height: 100vh;
        padding : 5vh 10vw 0 10vw;
        background-color: #FBFBFB;
    }
    
    .reviewbox-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 1vw;
    }
    
    .reviewbox-slider{
        height: 40vh !important;
    }
    
    .slider-container{
        height: 55vh ;
    }
    
    .review-title{
        font-size: 2rem;
        color: #343434;
        margin-left: 3vw;
        margin-bottom: 1vh;
    }
    
    .review-description{
        margin-top: 5vh;
        text-align: center;
        font-size: 1.1rem;
        line-height: 2.4rem;
        color: #696969;
        font-weight: 500;
    }
    
    .reviewbox{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 70%;
        height: 50vh;
        padding : 5vh 2.5vw; 
        margin-left: 20%;
    }
    
    .reviewbox-title{
        font-size: 1.6rem;
        padding-top: 14vh;
        color: #483527;
        margin-bottom: 4rem;
    }
    .reviewbox-name{
        font-size: 1.4rem;
        margin-bottom: 2rem;
    }
    .reviewbox-description{
        font-size: 0.9rem;
        line-height: 1.6rem;
        letter-spacing: -0.4px;
        color: #5C5C5C;
    }
}