.introduce-container{
    font-family: "notosans" !important;
    height: 100vh;
    padding : 10vh 10vw;
}

.introduce-title{
    color : #FA941E;
    font-size: 1.8rem;
}

.introduce-description{
    margin-top: 3vh;
    margin-left: 2vh;
    color: #7E7E7E;
    font-size: 1rem;
    line-height: 1.8rem;
}