.config-container{
    height: 118vh;
    padding : 20vh 5vw;
    text-align: center;
    background-color: #FBFBFB;
}
.config-title{
    font-family: 'gmarketMid' !important;
    font-size: 3.2rem;
    color: #483527;
}


.configbox-list{
    margin-top: 15vh;
    height: 10vh;
}

.react-multi-carousel-dot button::selection{
    color: red;
}

@media screen and (max-width: 1200px) {
    .config-container{
        height: 100vh;
        padding : 10vh 5vw;
        text-align: center;
        background-color: #FBFBFB;
    }
    .config-title{
        font-size: 3.2rem;
        color: #483527;
    }
}

@media screen and (max-width: 768px) {
    .config-container{
        font-family: "IBM Plex Sans" !important;
        height: 100vh;
        padding : 10vh 0;
        text-align: center;
        background-color: #FBFBFB;
    }
    .config-title{
        font-size: 2.5rem;
        color: #483527;
    }
}