.main-container{
    font-family: "notosans" !important;
    height: 100vh;
    padding : 1vh 15vw;
    text-align: center;
    background-color: #FBFBFB;
}

.progress-title{
    color: #483527;
    padding-top: 4vh;
    font-size: 3.3rem;
}

.progress-description{
    padding-top: 2.5vh;
    color: #2E2E2E;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 2.3rem;
}

.progress-caption{
    padding-top: 3vh;
    color: #2E2E2E;
    font-size: 1.3rem;
    line-height: 2.3rem;
}

@media screen and (max-width: 768px){
    .main-container{
        font-family: "notosans" !important;
        height: 100vh;
        padding : 4vh 12vw;
        text-align: center;
        background-color: #FBFBFB;
    }
    
    .progress-title{
        color: #483527;
        padding-top: 3vh;
        font-size: 2rem;
    }
    
    .progress-description{
        padding-top: 3vh;
        color: #2E2E2E;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 1.8rem;
    }
    
    .progress-caption{
        padding-top: 3vh;
        color: #2E2E2E;
        font-size: 0.9rem;
        line-height: 1.5rem;
    }
    
    
}