.progressbox-container{
    width: 50vw;
    height: 33vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: 26%;
    margin-top: 5vh;
}
.progressbox-innercontainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 25vh;
}
.progressbox-img{
    width: 30vh;
    height: auto;
    margin-bottom: 3vh;
    margin-right: 5vh;
}

.progressbox-title{
    display: block;
    font-family: "notosans" !important;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #A4734B;
    border-radius: 64px;
    width: 14rem;
    height: 3rem;
    border: 0;
    outline: 0;
}

.progressbox-description{
    color: #191919;
    font-size: 1.2rem;
    margin-top: 15%;
    text-align: left;
}

@media screen and (max-width: 1024px){
    .progressbox-container{
        width: 50vw;
        height: 33vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        margin-left: 20%;
        margin-top: 2vh;
    }
    .progressbox-innercontainer{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 25vh;
    }
    .progressbox-img{
        width: 17vh;
        height: auto;
        margin-bottom: 2vh;
        margin-right: 0;
    }
    
    .progressbox-title{
        display: block;
        font-family: "notosans" !important;
        color: white;
        font-size: 1rem;
        font-weight: bold;
        background-color: #A4734B;
        border-radius: 64px;
        width: 30vw;
        height: 2rem;
        border: 0;
        outline: 0;
    }
    
    .progressbox-description{
        color: #191919;
        font-size: 0.8rem;
        margin-top: 10%;
        text-align: left;
    }
    
}