.qna-container{
    height: 100vh;
    background-color: #4A3729;
    padding : 7vh 3vw 0 3vw;
}

.qna-title{
    color: #ECD4BC;
    font-family: 'gmarketMid' !important;
    font-size: 2.5rem;
    float: left;
}

.qna-description{
    color: #FFFFFF;
    float: left;
    font-family: 'IBM Plex Sans' !important;
    font-size: 1.3rem;
    margin-left: 7vh;
    line-height: 2.2rem;
}

.qna-slider-container{
    width: 100%;
    height: 70vh;
}
.qna-box{
    font-family: 'IBM Plex Sans' !important;
    clear: both;
    margin-left: 40vh;
    background-color: #827368;
    border-radius: 25px;
    padding: 7vh 4vh;
    width: 52%;
    height: 100%;
}

.qna-box-title{
    font-family: 'IBM Plex Sans' !important;
    font-size: 2rem;
    color: #FA941E;
}

.qna-box-description{
    font-size: 1.4rem;
    line-height: 2.3rem;
    color: #FFFFFF;
}